body{
    font-family: "Open Sans", sans-serif;
    color: #212529;
    margin: 0%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
header{
    display: flex;
    height: 20%;
    align-items: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
.label{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #212529;
    padding: 8px;
    border-radius: 4px;
}
#tittle{
    font-size: 30px;
    margin-left: 30%;
    font-weight: 400;
    letter-spacing: 2px;
    color: #7a6960;
}
footer{
    display: flex;
    align-items: center;
    background-color: #fff; 
    padding-bottom: 0%;
}
#content{
    background-color: #fef8f5;
    padding-top: 10%;
    border-bottom: solid #212529;
}
#calculatorBox{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #fef8f5;
}
#calculatorTextContainer{
    padding-left: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#presentationTittle{
    width: 80%;
    margin: 0;
    font-size: 280%;
    letter-spacing: 5%;
    color: #4e4039;
}
#presentationText{
    width: 80%;
    color: #a08f86;
    margin: 15px 0 0 0;
    font-weight: 500;
    display: inline-block;
}
#formBox{
    padding-right: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#result{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#text{
    padding-top: 1%;
    background-color: #fff;
    text-align: center;
    width: 50%;
    height: 40px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 3px solid #eb5d1e;
}
#firstHalf{
    color: #7a6960;
    padding-left: 20%;
}
#secondHalf{
    padding-left: 30%;
}
nav{
    margin-left: auto;
    padding: 5%;
}
a{
    text-decoration: none;
}
.navs{
    margin-right: 10px;
    color: #7a6960;
    font-size: 20px;
    text-decoration: none;
    transition: border 0.1s ease-in-out;
}
.navs:hover {
    border-bottom: solid #eb5d1e;
}
.currentPage{
    color: #eb5d1e;
}
#convertButton{
    background: #eb5d1e;
    border: 0;
    margin-right: 5%;
    padding: 10px 24px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
#convertButton:hover{
    background-color: #eb7d4d;
    cursor: pointer;
}
#compareButton{
    background: #eb5d1e;
    border: 0;
    margin-left: 5%;
    padding: 10px 24px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
#compareButton:hover{
    background-color: #eb7d4d;
    cursor: pointer;
}
#fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 15%;
}
#number,#firstDropdown,#secondDropdown,#ButtonBox{
    display: flex;
    width: 50%;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}
#number{
    border-top: 3px solid #eb5d1e;
    padding-top: 3%;
}
#moneyNumber, #firstCurrency, #secondCurrency{
    text-align: center;
}
#ButtonBox{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #eb5d1e;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{ 
    -moz-appearance:textfield; 
}
.input{
    padding-left: 5%;
    border: 1px solid #ced4da;
    border-radius: 0%;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
}
.input:focus{
    outline: none;
}
@keyframes fadeIn{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}